<div class="Content">
  <mat-expansion-panel style="margin: 20px 0px 0px 0px;" class="Filters">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Filters </h4>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <h4>Province Select</h4>
    <div fxLayout="row wrap" fxLayoutGap=" 10px grid">
      <div fxFlex="33%" fxFlex.xs="100%" *ngFor="let item of todayStats">
        <mat-checkbox class="checkbox" [checked]="true" (change)="checked(item, $event)">
          {{item.province}}
        </mat-checkbox>
      </div>
    </div>

    <!-- <h4>Date Select</h4>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> -->

    <!-- <div fxLayout="row wrap" fxLayoutGap=" 10px grid">
      <div fxFlex="33%" fxFlex.xs="100%" *ngFor="let item of todayStats">
        <mat-checkbox class="checkbox" [checked]="true" (change)="checked(item, $event)">
          {{item.province}}
        </mat-checkbox>
      </div>
    </div> -->
  </mat-expansion-panel>

  <mat-divider style="margin: 20px 0px 20px 0px;"></mat-divider>

  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="50%" fxFlex.xs="100%" class="cards" *ngFor="let item of todayStatsFiltered">
      <mat-card class="mat-elevation-z4">
        <mat-card-title-group>
          <mat-card-title>{{item.province}}</mat-card-title>
          <!-- <mat-card-subtitle>Todays Cases: {{item.cases}}</mat-card-subtitle> -->
          <button (click)="route(item.province)" style="height: 35px;" mat-raised-button color="primary">View
            Statistics</button>
        </mat-card-title-group>
        <mat-card-content>
          <span>Latest Cases: {{item.cases.toLocaleString()}}</span> <br>
          <span>Latest Deaths: {{item.deaths.toLocaleString()}}</span> <br>
          <span>Active Cases: {{item.active_cases.toLocaleString()}}</span> <br>
          <span>Number of Fully Vaccinated: {{item.cumulative_cvaccine.toLocaleString()}}</span> <br>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>